## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml   # want to capture run configurations and other things
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# dataSources.ids may contain sensitive information (your encrypted password for the database)
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

.sass-cache/

style.css.map
